
*.DS_Store

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/replstate.xml
.idea/sonarlint

.localstack

build/

pip-log.txt
pip-delete-this-directory.txt
target/

.cache/
__pycache__

.env*
!.env.template
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

env.*.json

config.*.yaml
!config.template.yaml

.mypy_cache/

packaged.yaml

src/layers/pip_modules/*
!src/layers/pip_modules/requirements.txt
src/layers/scraping_tools/*
!src/layers/scraping_tools/requirements.txt
